@font-face {
    font-family: "Product Sans Bold";
    src: url("/Front/Assets/Fonts/Product\ Sans\ Bold.ttf");
}

@font-face {
    font-family: "Product Sans Regular";
    src: url("/Front/Assets/Fonts/Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: "Product Sans Medium";
    src: url("/Front/Assets/Fonts/Product\ Sans\ Medium\ 500.ttf");
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Product Sans Regular";
    font-size: 3vw;
    color: black;
}

p {
    font-family: "Product Sans Regular";
    font-size: 2vw;
    color: black;
    margin: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #e7e9f1;
}

header {
    height: 13vh;
    backdrop-filter: blur(100px);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 2% 10% auto repeat(7, 7.5%) 7.5%;
    grid-template-rows: 10% 80% 10%;
}

#LogoContainer {
    grid-row: 2;
    grid-column: 2;
}

#HeaderLogo {
    height: 100%;
}

.HeaderLink {
    grid-row: 2;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: black;
    font-family: "Product Sans Bold";
    font-size: 1.5vw;
}

#MainPhoto {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( to bottom, rgba(231, 233, 241, 0) 70%, rgba(231, 233, 241, 1)), url("/Front/Assets/imgs/AirportPhoto.jpg");
    background-size: 210vw, 210vh;
}

#WelcomeLogo {
    width: 34%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}

#MainInfoBody {
    padding: 4vw;
    background-image: linear-gradient(to bottom, #e7e9f1 80%, #f5f5f6);
}

#VexInfoBody {
    padding: 4vw;
    background-image: linear-gradient( to bottom, #f5f5f6 20%, #fffffa 60%, #f5f5f6);
}

.MainInfoBox {
    background-color: #dde0ed;
}

.VexInfoBox {
    background-color: #f2f2e9;
}

#VexLogo {
    width: 30vw;
    display: block;
    margin: 0 auto;
    margin-top: -4vw;
}

#VexComparer {
    display: grid;
    width: 100vw;
    margin-left: -4vw;
    grid-template-columns: 4vw 42vw auto 42vw 4vw;
}

.VexTitle {
    text-align: center;
}

.VexInfoParagraph {
    font-size: 1.5vw;
    text-align: center;
}

#VexDivider {
    grid-column: 3;
    align-self: center;
    justify-self: center;
}

#AwardsRobotsArea {
    background-image: linear-gradient(to bottom, #f5f5f6 20%, #e7e9f1 60%);
    display: grid;
    grid-template-columns: 10vw 30vw auto 30vw 10vw;
    grid-template-rows: 10vw 40vw 10vw 30vw 5vw 30vw 5vw 30vw;
}

.AwardsRobotsHeader {
    grid-column: 1/-1;
    grid-row: 1;
    font-size: 5vw;
    justify-self: center;
    align-self: center;
    color: #444444;
}

.RobotOrAward {
    width: 30vw;
}

.RobotAwardName {
    font-size: 2vw;
    color: white;
    justify-self: center;
    align-self: end;
    transition-duration: 0.2s;
    opacity: 0.5;
}

.RobotParent::after {
    transition: opacity 0.5s ease-in-out;
    content: '';
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 59%;
    opacity: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1));
}

.RobotParent:hover::after {
    opacity: 1;
}

#AwardSplitter {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

.PageBox {
    /*border-radius: 3vw;*/
    padding: 3vw;
    padding-top: 2vw;
    margin-top: 4vw;
}

/** written by rak **/

div.RobotContainer {
    position: relative;

}

div.RobotImage{
    position: relative;
    height: 100%;
}

div.RobotImage img {
    border-radius: 15%;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

div.RobotContainer div.RobotImage::after{
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    display: inline-block;
    transition: opacity 1s ease-in-out;
    background-image: linear-gradient(rgba(0,0,0,0), black);
    border-radius: 15%;
}

div.RobotContainer  div.RobotImage:hover::after{
opacity: 0.5;
}

div.RobotContainer h1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    text-align: center;
}