body {
    margin: 0;
}

header {
    height: 90px;
    background-color: #707070;
}

#HeaderLogo {
    height: 80px;
    margin-top: 10px;
    margin-left: 30px;
}

#HeaderName {}

#NavBar {}

#HeaderLink {}