body {
  margin: 0;
}

header {
  height: 90px;
  backdrop-filter: blur(25px);
}

#HeaderLogo {
  height: 70px;

  margin-top: 10px;
  margin-left: 30px;
}
#MainPhoto {
  width: 100%;
  margin-top: -90px;
}

#NavBar {
}

#HeaderLink {
}
